@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Nunito Sans", serif;
    background-color: rgb(58, 57, 57);
    
}

@media(max-width: 700px){
 #nav{
  #logo{
    display: none;
  }
  #logo2{
    display: block;
  }
 }
}



.bg-img-1{
    background-image: url("./images/Group 6.jpg");
  }
  
  .bg-img-2{
    background-image: url("./images/Group 8.jpg");
  }
  
  .bg-img-3{
    background-image: url("./images/Group\ 6.jpg");
  }
  
  .carousel-image{
    
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
  }

  
  

  #nav{
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(244, 240, 240);
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    padding-top: 10PX;
    gap: 20px;
    width: 100%;
    height: 60px;
    transition: 0.7s;
    z-index: 1000;
  
    ul{
      display: flex;
      width: 100%;
      justify-content: center;
      position: fixed;
      align-items: center;
      height: 50px;
      gap: 20px;
      padding-top: 10px;
      li{
        list-style: none;
        color: rgb(34, 32, 32);
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
      }
      a{
        text-decoration: none;
        color: rgb(34, 32, 32);
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
      }

    }
    
  
  }

  #logo{
    display: block;
    position:absolute;
    left: 20px;
    top: 6px;
    
   }

   #logo2{
    display: none;
    position:absolute;
    left: 30px;
    top: 14px;
    
   }

  

.sec-1{
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  flex-wrap: wrap;
  gap: 50px;
  
}

.card-big1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(64, 60, 60);
  width: 450px;
  height: 400px;
  border: none;
  background-color: #f3dce9bf;
  box-shadow: 0px 0px 10px rgba(34, 34, 34, 0);
  border-radius: 20px;
  padding: 30px;
  
  
}

.card-big2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  width: 450px;
  height: 400px;
  
  box-shadow: 30px 0px 40px rgba(68, 67, 67, 0);
  border-radius:4px;
  padding: 40px;
  
  
}

.card-big3{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  width:100%;
  height: 700px;
  
  
  border-radius: 0px;
  background-color: #215c5c22;
  padding: 150px;
  
  
  
}





#forms{
  width: 300px;
  height: auto;
  max-height: 700px;
  border: none;
  border-radius: 20px;
  border: solid 0px rgba(115, 148, 239, 0.634);
  background-color: rgb(255, 255, 255);
  
}

.sec-forms{
  display: flex;
  justify-content: center;
  padding-top: 120px;
  background-color: rgb(255, 255, 255);
}

#btn{
  width: 120px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background-color: #0080b9;
  color: white;
  align-self: self-start;
  a{
    text-decoration: none;
    color: rgb(248, 247, 247);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
}

#img-2{
  display: block;
  position: relative;
  top: 120px;
  left: 50px;
  opacity: 75%;
  width: 250px;

}
